.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 60px;
}

.quote {
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  font-weight: 300;
  width: 30%;
}

.calculator {
  width: 50%;
}

.display {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  color: #fff;
  background: #858694;
  border: rgb(230, 230, 230) 2px solid;
  padding: 30px;
  align-self: center;
}

.values {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  background: #f6f6f6;
  align-self: center;
}

.value {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: rgb(230, 230, 230) 2px solid;
  padding: 30px 0;
  font-size: 20px;
  font-weight: 600;
}

.value:nth-child(0) {
  grid-area: 2 / 1 / 3 / 2;
}

.value:nth-child(5) {
  grid-area: 2 / 1 / 3 / 2;
}

.value:nth-child(4) {
  background: #f5913e;
}

.value:nth-child(8) {
  background: #f5913e;
}

.value:nth-child(12) {
  background: #f5913e;
}

.value:nth-child(16) {
  background: #f5913e;
}

.value:nth-child(17) {
  grid-area: 5 / 1 / 6 / 3;
}

.value:nth-child(19) {
  grid-area: 5 / 4 / 6 / 5;
  background: #f5913e;
}
